*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(80,129,221);
  padding: 7% 10%;
}
.body{
  display: flex;
  justify-content: space-between;
  font-family: 'Mulish', sans-serif;
}


.play{
  background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #5488E8;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 24px;
}

.result-container{
  background: #FFFFFF;
  border-radius: 4px;
  width: 387px;
  height: fit-content;
  padding: 32px;
}

.result-texts{
  text-align: center;
}

.first-part{
  display: flex;
  align-items: center;
  margin-bottom: 35px;
}

.heading-text p{
  font-weight: 800;
  font-size: 30px;
  color: #484848;
  font-style: normal;
}

.second-part img{
  width: 16px;
  height: 16px;
  margin-right: 7px;
  margin-left: 8px;
}

.sub{
  display: flex;
  /* justify-content: center; */
  align-items: center;
  width: 494px;
  background: #FFFFFF;
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  height: 36px;
  margin-bottom: 24px;
}
.play-footer , .end-game, .refresh{
  box-shadow: 0px 0px 8px 3px rgba(84, 136, 232, 0.25);
  border-radius: 4px;
  background: linear-gradient(180deg, #5488E8 0%, #4169B3 100%);
  width: 494px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #fff;
}

.end-game , .refresh{
  width: 200px;
  margin : 15px auto 0px auto;
}

.refresh > p{
  color: white;
}

.play-footer:hover , .end-game:hover , .refresh:hover{
  background: #333;
}

.result{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:15px 35px 15px 15px;
}

.emoji, .result-con{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15% auto;
  animation-name: openmodal;
  animation-duration: 2s;
}

.result-con{
  display: block;

}

a{
  text-decoration: none;
}

.result-con .end-text{
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}


.modal, .modal2{
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal2{
  /* display: block; */
}

.sad{
  height: 227px;
  display: none;
  object-fit: cover;
}

.happy{
  display: none;
}

.result-container p{
  font-style: normal;
  font-size: 30px;
  color: #484848;
  font-weight: 800;
}

.result-sub1-img2{
  display: none;
}

.result-sub1-img1{
  display: none;
}

.result-sub2-img2{
  display: none;
}

.result-sub2-img1{
  display: none;
}

.players{
  padding-top: 25px;
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.result-count{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px 10px 25px;
}

.count{
  padding-top: 40px;
}

@keyframes openmodal {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}